<% content_for :head do %>
  <script type="text/javascript" src="//socket.q-music.nl/js/q+sock.js"></script>
<% end %>

<h1><%= t('.title') %></h1>

<p><%= t('.explanation_html', password: @password) %></p>

<%= form_tag do %>
  <%= password_field_tag("passw0rd", '', id: 'p4ssw0rd') %>
  <%= submit_tag t('.hack') %>
<% end %>
