<h1><%= t('.title') %></h1>

<p><%= t('.explanation_html') %></p>

<%= form_tag do %>
  <%= text_area_tag("passw0rd", '', id: 'p4ssw0rd', rows: 12, cols: 40) %>
  <%= submit_tag t('.hack') %>
<% end %>
